/* ********** Styles ***************** */
a:-webkit-any-link {
  text-decoration: none;
}

html {
  box-sizing: border-box;
  max-width: 100vw;
  font-size: 10px;
  text-decoration: none;
}

.right-align {
  margin-left: auto;
}

.page-redbackground {
  background-color: #f76d6d;
  height: 100vh;
  max-width: 100vw;
  box-sizing: border-box;
}

.page-whitebackground {
  background-color: #ffffff;
  height: 100vh;
  max-width: 100vw;
  box-sizing: border-box;
}

.header-itemleft {
  grid-area: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-itemcenter {
  grid-area: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-itemright {
  grid-area: right;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  right: -20px;
}

.header-red {
  color: #f76d6d;
}

/* ********** Pages ***************** */

/*-------------- Home ---------*/
#home-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home-logo {
  width: 40vw;
  max-width: 1000px;
  top: 100px;
}

#home-logo-wrapper {
  height: 35vh;
  display: flex;
  align-items: center;
}

#home-buybutton {
  margin-bottom: 10px;
}
/*-------------- Buy ---------*/
#buy-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#buy-main h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;

  color: #000000;
}

#book-details-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-details-description {
  width: 300px;
  height: 181px;
  left: 45px;
  top: 22px;

  border: 1px solid #454441;
  border-radius: 20px;
  padding: 10px;
  padding-right: 15px;
  resize: none;

  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 18px;
}

.book-details-description h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 18px;

  margin-top: 2px;
}

.book-details-addtocart {
  margin-top: 20px;
  width: 324px;
  height: 45px;
  left: 45px;
  top: 228px;

  background: #f7eaa0;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.book-details-consumer-summary {
  display: flex;
  width: 80%;
  margin: 40px 0;
}

.book-details-consumer-summary-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.book-details-consumer-summary-left h2 {
  margin-bottom: 0;
}

.book-details-consumer-summary-left h3 {
  margin-top: 0;
}

.book-details-consumer-summary-divider {
  border-right: 0.5px solid #000000;
  height: 20px;
  align-self: center;
}

.book-details-consumer-summary-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.book-details-consumer-summary-right h2 {
  margin-bottom: 0;
}

.book-details-consumer-summary-right h3 {
  margin-top: 0;
}

.book-details-merchant-summary {
  padding: 40px;
}

.book-details-merchant-summary h2 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 18px;
  text-align: center;

  margin: 0px;

  color: #7e7e7e;
}

.book-listing-condition-group {
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 18px;

  margin: 0;
}

.book-listing-details {
  text-align: center;
}

/*-------------- Cart ---------*/
#booksInCart h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

#cart-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-total {
  width: 80%;
  position: absolute;
  bottom: 0;
  height: 20vh;
}

.cart-total-text {
  display: flex;
}

.cart-total-text h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 17px;
}

.cart-checkout {
  width: 329px;
  height: 45px;
  left: 42px;
  top: 176px;

  background: #f7eaa0;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
}

/*-------------- 4 ---------*/

/*-------------- 5 ---------*/

/*-------------- 6 ---------*/

/* ********** Combined components ***************** */
.header1burger {
  width: 99vw;
  height: 10vh;
  display: grid;
  grid-template-areas: "left center right";
  grid-template-columns: 33vw;
}

.header1burger ul {
  list-style: none;
}

.browse-collection-books {
  font-size: 100px!;
}

.book {
  width: 75vw;
  display: flex;
  margin: 20px 0;
  color: #000000;
}

.book-thumbnail-cover {
  margin-right: 5px;
}

.book-thumbnail-summary {
  padding: 0 20px;
  max-width: 35vw;
}

.book-thumbnail-summary h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 17px;

  margin-top: 1px;
}

.book-thumbnail-summary h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 13px;
}

.book-thumbnail-summary h4 img {
  width: 1rem;
  margin-right: 5px;
}

.book-summary-addtocart {
  background: #f7eaa0;
  border: 1px solid #f7eaa0;
  border-radius: 20px;
  width: 7rem;
  padding: 1px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 12px;
}

.book-thumbnail-price {
  margin-left: auto;
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 17px;
}

/* ********** Components ***************** */
.button-white {
  width: 290px;
  height: 40px;
  border: 1px solid #f5f5f5;
  background-color: #f5f5f5;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f76d6d;
}

.button-red {
  width: 290px;
  height: 40px;
  border: 1px solid #f5f5f5;
  background-color: #f76d6d;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f5f5f5;
}

#popup-main {
  box-sizing: border-box;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#popup-main h2 {
  color: #f76d6d !important;
}

.searchbox {
  border: 1px solid #000000;
  border-radius: 20px;
  padding: 5px 20px;
  width: 70vw;
}

.searchbox input {
  border: none;
  outline: none;
  color: #000000;
  width: 90%;
}
